* {margin: 0;padding: 0;box-sizing: border-box;}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../imgs/wood.jpg")no-repeat center/cover;
}

button {
    display: grid;
    place-items: center;
}

.wapper {
    padding: 1rem;
    width: 50rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.425);
}